/* -----Pagina----- */
.cadastro-produto {
    padding: 1em;
    margin: 1em 2em;
    border: .09em solid black;
    border-radius: .5em;
}

/* -----Titulo----- */
.titulo {
    font-size: 3em;
}

/* -----Formulario de cadastro----- */
.area-cadastro-produto {
    margin: 2em 0;
}

.area-campo-nome,
.area-campo-quantidade,
.area-campo-preco,
.area-campo-marca,
.area-botoes {
    margin: .6em 0;
}

.area-botoes {
    text-align: right;
}

.texto-campo-nome,
.texto-campo-quantidade,
.texto-campo-preco,
.texto-campo-marca,
.campo-nome,
.campo-quantidade,
.campo-preco,
.campo-marca {
    display: block;
    width: 100%;
}

.texto-campo-nome,
.texto-campo-quantidade,
.texto-campo-preco,
.texto-campo-marca {
    margin-bottom: .3em;
}

.campo-nome,
.campo-quantidade,
.campo-preco,
.campo-marca {
    margin-bottom: 1em;
    padding: .2em;
}

/* -----Tabela de produtos cadastrados----- */
table {
    margin: 1em 0;
    padding: .2em;
    border: .01em solid black;
    width: 100%;
    background-color: rgb(154, 219, 230);
}

th {
    background-color: cornflowerblue;
}

th, td {
    border: .01em solid black;
    padding: .5em;
    text-align: center;
}

