.titulo {
    font-size: 5em;
    text-align: center;
    border: .1em solid black;
    background-color: cadetblue;
    padding: 1em;
    width: 8em;
    height: 1em;
    margin: 1em;
    border-radius: .5em;
}